<div class="container">
  <%= form_for(task) do |f| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
        <div class="field">
          <div class="row">
            <div class="col-xs-1">
              <%= f.label :name %>
            </div>
            <div class="col-xs-11">
              <%= f.text_field :name %>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="row">
            <div class="col-xs-1">
              <%= f.label :start_time %>
            </div>
            <div class="col-xs-11">
              <%= f.datetime_select :start_time %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
    </div>
  <% end %>
</div>
